

h1{
    color: blue;
}
.h-center{
    text-align: center;
    background-color: palevioletred;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 50px;
    text-decoration: aqua;
}
p{
    color:black ;
}
#ee{
    color: crimson;
}
*{
    color: blue;
}